img {
  width: 100%;
}

article {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.article1,
.article2 {
  border: solid black 1px;
  padding: 10px;
}

h1 {
  text-align: center;
  border: solid black 1px;
}
